# IDEs and editors
/.idea/
/.vscode/
/*.code-workspace

# OS-specific
.DS_Store
Thumbs.db

# .NET / C# 関連
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# ビルド結果
/[Dd]ebug/
/[Rr]elease/
/[Bb]uild/
/[Bb]in/
/[Oo]bj/
/[Ll]og/
/[Ll]ogs/

# NuGet パッケージ
*.nupkg
# NuGet シンボルパッケージ
*.snupkg
# NuGet パッケージディレクトリ
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
